@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --green:#7E8C61;
  }

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}
.heading{
    text-align: center;
    padding:2.5rem 0
  }
  
.heading span{
    font-size: 35px;
    background:rgba(255, 165, 0,.2);
    color:var(--orange);
    border-radius: .5rem;
    padding:.2rem 1rem;
}
  
.heading span.space{
    background:none;
}
.btn:hover{
    background:#333;
    color:var(--green);
  }




header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #FFFFFF;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 20px 9%;
}

header .logo{

    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;    
    color: #000000;
}
header .navbar{
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;

}
header .navbar a{
    color: #333;;
    font-size: 2rem;
    margin:0 .2rem;
  
  }

header .navbar a:hover{
    color:var(--green);
}

header .icons i{
    font-size: 2.5rem;
    color:#333;
    cursor: pointer;
    margin-right: 2rem;
  }
header .icons i:hover{
    color:var(--green);
}

.login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-container.active{
    top:0;
  }

  .login-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background:#fff;
    width:50rem;
  }
  .login-form-container form h3{
    font-size: 3rem;
    color:#444;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
  } 
  .login-form-container form .box{
    width:100%;
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    margin:.6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
  }
  .login-form-container form .box:focus{
    border-color: var(--green);
  }
  .login-form-container form #remember{
    margin:2rem 0;
  }
  .login-form-container form label{
    font-size: 1.5rem;
  }
  .login-form-container form .btn{
    display: block;
    width:100%;
  }
  .login-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#666;
  }
  .login-form-container form p a{
    color:var(--green);
  }
  .login-form-container form p a:hover{
    color:#333;
    text-decoration: underline;
  }
  .login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
  }
  #menu-bar{
    color:#333;
    border:.1rem solid #333;
    border-radius: .5rem;
    font-size: 3rem;
    padding:.5rem 1.2rem;
    cursor: pointer;
    display: none;
  }
  .contact{
      display: grid;
      padding: 10% 10% ;
  }
  .contact h1{
      font-size: 50px;
  }

.contact .contact-container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; 
}

.contact .contact-container .swipe-contact{
  display: grid;
}
.contact .contact-container .swipe-contact h2{
    font-size: 25px;
}
.contact .contact-container .swipe-contact p{
    font-size: 15px;   
}
.contact .contact-container .swipe-contact .colom-contact{
    display: grid;
    gap: 10px; 
}
.contact .contact-container .swipe-contact .colom-contact textarea{
    border-style: groove;
    width: 100%;
    resize: none;
}

.contact .contact-container .swipe-contact .colom-contact .address-coloms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.contact .contact-container .swipe-contact .colom-contact .address-coloms input{
    border-style: groove;
}
.contact .contact-container .swipe-contact .colom-contact .address-coloms .name{
    display: grid;
    gap: 10px;
    padding-bottom: 3px;
}
.contact .contact-container .swipe-contact .colom-contact .address-coloms .email{
    display: grid;
    gap: 10px;
    padding-bottom: 3px;
    
}
.contact .contact-container .swipe-contact .colom-contact .button:hover{
    background-color: var(--green);
}

.contact .contact-container .number-contact h3{
    font-size: 25px;
}
.contact .contact-container .number-contact p{
    width: 50%;
    font-size: 15px;
}
.contact .contact-container .number-contact .call-contact p{
    color: rgb(35, 35, 252);
}


.footer{
    background:#333;
  }
  .footer .box-container{
    display: flex;
    padding: 2% 10% 2% 10%; 
    gap:1.5rem;
  }
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  .footer .box-container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  .footer .box-container .box img{
    display: wrap;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  
  .footer .writer-web{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }
  
  .footer .writer-web span{
    color:var(--green);
  }
  




@media (max-width:1706px){
  html{
    font-size: 55%;
  }

}


@media (max-width:1200px){
    html{
      font-size: 55%;
    }
  }
  
@media (max-width:991px){
  header{
    padding:2rem;
  }
  section{
    padding:2rem;
  }
}

@media (max-width:768px){
  html{
    font-size: 48%;
  }
  #menu-bar{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #fff;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#fff;
  }
  .contact{
    padding: 15% 5%;
  }
  .footer .box-container{
    display: table;
  }
}

@media(max-width:448px){
  html{
    font-size: 35%;
  }
  .footer .box-container img{
    width: 10%;
  }
}

@media (max-width:375px){
  html{
    font-size: 30%;
  }
  .heading span{
    font-size: 2.5rem;
  }
  .footer .box-container img{
    width: 10%;
  }
}